/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2017, 4:03:05 PM
    Author     : grondinl
*/

#zonedeconversation{
    width: 100%;
    height: 75%;
    margin-top: 50px;
    overflow: auto;
}

#sendbtn{
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    left: 42.5%;
    width: 15%;
}

#actualisation{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5%;
    width: 15%;
    
}

#photo {
    display: inline-block;
    vertical-align: bottom;
    width: 15%;
    position: relative;
    left: 22.5%;
    
}

