/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2017, 4:03:05 PM
    Author     : grondinl
*/

#zonesaisie{
    height: 30%;
    margin-bottom: 1px;
}

#zonetext{
    height: 40%;
}

#zonedeconversation{
    height: 80%;
    width: 100%;
    margin-top: 10%;

}

